/**
 * Use nested tag selectors to style HTML tags created from Markdown.
 */
.markdown {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: #111827;
  }

  a {
    color: #646cff;
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }
}
