.wat {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding: 6rem var(--content-padding) 4.5rem;
}

.foo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  padding: 0 var(--content-padding);
  height: var(--header-height);
}
