.logo {
  height: var(--logo-height);
  margin-top: calc(var(--logo-height) / 5);
  z-index: 2;
  color: var(--color-logo);
  use {
    fill: none;
    stroke: currentColor;
    stroke-width: 7;
    stroke-linecap: round;
    stroke-linejoin: round;
  }
}

