:root {
  --font-family-base: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  --font-family-mono: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
  --header-height: 5rem;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  line-height: 1.7;
}

body {
  margin: 0;
  min-height: calc(100vh - 8rem);
  font-family: var(--font-family-base);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  background: #f4f4f4 !important;
  font-family: var(--font-family-mono);
  font-size: 0.875rem;
  padding: 2px 4px;
  border-radius: 4px;
}

.grvsc-container {
  background: #f8f8f8 !important;
  border: 1px solid #ccc;
  border-radius: 4px !important;
  code {
    background: transparent !important;
  }
}
