:root {
  --font-family-base: -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica,
    Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  --font-family-mono: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
  --header-height: 5rem;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  font: 400 18px/1.7 var(--font-family-base);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  min-height: calc(100vh - 8rem);
}

code {
  background: #f7f7f7 !important;
  border: 1px solid #dadce0;
  font-family: var(--font-family-mono);
  font-size: 0.88rem;
  padding: 0.125em 0.25em;
}

.grvsc-container {
  background: #f7f7f7 !important;
  border: 1px solid #dadce0;
  border-radius: 0 !important;
  code {
    background: transparent !important;
    border: 0 !important;
  }
}

a {
  color: #3740ff;
  &:focus,
  &:hover {
    text-decoration: none;
  }
}
